
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto+Mono:wght@600&display=swap');

body {
    background-color: #aa98a9;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
}
.animate{
    animation: animate-body 5s ease-in infinite;
}

@keyframes animate-body {
    50%{
        background-color: #c49ec4;
    }
    100%{
        background-color: #aa98a9;
    }
    
}

.effect {
    animation: changeBackground 3s ease-in-out forwards;

  }
  
  @keyframes changeBackground {
    0% {
    background-color: #aa98a9;

    }
    10% {
        background-color: #00054d; 
    }
    90%{
        background-color: #00054d; 
    }
    100%{
        background-color: #aa98a9;
    }

  }
  

.container {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative; /* Добавляем позиционирование */
}

.image {
    max-width: 100%;
    max-height: 100%;
    animation: enter linear 2s 1;
    position: absolute; /* Позиционирование элемента внутри .container */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрирование элемента */
}

.enter {
    animation: enter linear 2s forwards;
}

.leave {
    animation: leave linear 2s forwards;
}

.text.container {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.audio{
    opacity: 0;
}

.blockButton{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to left , #aa98a9, #201f20);
    color: aqua;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    cursor: pointer;
}
.text{
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;

}

.text-light{
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

.enter-text{
    animation: text-enter 2s linear forwards;
}
.leave-text{
    animation: text-leave 2s linear forwards;
}

@keyframes text-enter {
    from{
        opacity: 0;
    }
}
@keyframes text-leave{
    to{
        opacity: 0;
    }
}

@keyframes enter {
    from {
        opacity: 0;
        left: -100%;
    }
}

@keyframes leave {
    to {
        opacity: 0;
        left: 100%;
    }
}

@keyframes gradientShift {
    0% {
      --gradient-start: #ff0000;
      --gradient-end: #0000ff;
      rotate: -15deg;
    }
    50% {
      --gradient-start: #0000ff;
      --gradient-end: #ff0000;
      rotate: 15deg;
    }
    100% {
      --gradient-start: #ff0000;
      --gradient-end: #0000ff;
      rotate: -15deg;
    }
  }
  
  .birthday {
    opacity: 0;
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    animation: gradientShift 5s linear infinite, create 1s linear forwards;

    margin-left: -40rem;
  }

@keyframes create{
    to{
        opacity: 1;
    }
}

